[Unit]
Description=Currency Bot (Docker)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/docker start -a currency-bot
ExecStop=/usr/bin/docker stop -t 10 currency-bot
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
